.custom-bg-color {
    background-color: #373737;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-nav .nav-link {
    font-size: 18px;
    margin-right: 10px;
}