<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

</html>

<head>
    <title>Biblioteca de Midias</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/src/main/resources/templates/styles.css">
</head>

<body style="background-color: #121212; color: #FFFFFF;">

    <div align=" center" class="container">
        <div class="card-group mt-5">
            <div align="center" class="card" style="background-color: #121212; color: #FFFFFF; border-color: #4d4d4d;">
                <div class="card-img-top text-center">
                    <img src="https://avatars.githubusercontent.com/u/56647634?v=4" class="mx-auto d-block"
                        alt="Imagem 1" style="width: 300px; height: 300px;">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Ronaldo Felix</h5>
                    <p class="card-text">Olá, meu nome é Ronaldo Félix e estou muito feliz em compartilhar um pouco
                        sobre mim. Sou uma pessoa dedicada, apaixonada por aprender e em constante busca por crescimento
                        pessoal e profissional.
                        <br>
                        Tenho uma formação sólida na área de tecnologia da informação e sou especializado em
                        desenvolvimento de software. Ao longo dos anos, adquiri experiência trabalhando em projetos
                        desafiadores e colaborando com equipes talentosas.
                        <br>
                        Além do meu conhecimento técnico, sou uma pessoa comunicativa e gosto de trabalhar em equipe.
                        Acredito que a colaboração e o compartilhamento de ideias são essenciais para o sucesso de
                        qualquer empreendimento.
                    </p>
                    <a href="https://github.com/ronaldofelix" class="btn btn-secondary">Meu Github</a>
                </div>
            </div>
            <div align="center" class="card" style="background-color: #121212; color: #FFFFFF; border-color: #4d4d4d;">
                <div class=" card-img-top text-center">
                    <img src="https://avatars.githubusercontent.com/u/56647921?v=4" class="mx-auto d-block"
                        alt="Imagem 1" style="width: 300px; height: 300px;">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Vitor Napoleão</h5>
                    <p class="card-text">Olá, meu nome é Vitor Napoleão e é um prazer compartilhar um pouco sobre mim.
                        Sou uma pessoa bastante animada, gosto de fazer coisas que me desafiem.
                        <br>
                        Estou em formação na Universidade Federal da Paraiba, No curso de Ciência da Computação busco
                        adquirir o maximo de conhecimento para o mercado de trabalho na area de TI.
                        Ao longo da minha jornada, adquiri algumas habilidades que realizem essa meta, como programação
                        e
                        gestão de negócios.
                        <br>
                        Sou movido pela minha determinação, Não paro até terminar o que comecei. Espero que no fim de
                        tudo
                        seja só Alegria.
                    </p>
                    <a href="https://github.com/VitorNapollion" class="btn btn-secondary">Meu Github</a>
                </div>
            </div>
        </div>
    </div>

    <script src="/webjars/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>

</html>