<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

</html>

<head>
    <title>Biblioteca de Midias</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/src/main/resources/templates/styles.css">
    <style>
        .center-content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>


</head>

<body style="background-color: #121212">
    <div class="center-content" style="background-color: #121212; color: #FFFFFF;">
        <div class="card" style="width: 40rem; border-color: #4d4d4d;">
            <img class="card-img-top"
                src="https://sjc04pap002files.storage.live.com/y4mcjGvUCIafmDumeBg4mxvjgCTA1EGbiRtZXD7ewaIEhT7TqirTT3jUQawsGyK8vUJiVGqc3jvM55uSO6je41FE6kwsktaAnznsEfI1HsZfBeXvWvZX6eJ_qH5DCkb57UdxjFyt6K3B-NdhtyS6s7JAkWSzFfuVwPdQovRcgYpsc6cDe_iOSK7o5epFLpeLkTW?width=1562&height=719&cropmode=none"
                alt="Card image cap">
            <div class="card-body" style="background-color: #121212; color: #FFFFFF;">
                <h5 class="card-title">Sobre a SafeTransfer:</h5>
                <p class="card-text">A SafeTransfer é uma empresa especializada em serviços de armazenamento em nuvem,
                    focada em fornecer soluções seguras e eficientes para o upload e download de arquivos. Nossa missão
                    é facilitar o compartilhamento de informações entre indivíduos e empresas, garantindo a proteção dos
                    dados e a confidencialidade das informações.
                    <br><br>
                    Com uma plataforma intuitiva e de fácil utilização, oferecemos aos nossos clientes a possibilidade
                    de armazenar, sincronizar e compartilhar arquivos de maneira prática e confiável. Nossa
                    infraestrutura robusta e altamente segura garante a integridade dos dados durante todo o processo de
                    transferência, proporcionando tranquilidade aos nossos usuários.
                    <br><br>
                    Na SafeTransfer, valorizamos a confiança e a satisfação dos nossos clientes. Nosso objetivo é
                    proporcionar uma experiência excepcional, tornando o compartilhamento de arquivos uma tarefa
                    simples, segura e eficiente. Conte conosco para atender suas necessidades de armazenamento em nuvem
                    e desfrute de uma solução confiável para o upload e download de seus arquivos.
                </p>
                <h5 class="card-title">Entre em contato:</h5>
                <a href="https://github.com/ronaldofelix" class="btn btn-secondary">Contato 1</a>
                <a href="https://github.com/VitorNapollion" class="btn btn-secondary">Contato 2</a>
            </div>
        </div>
    </div>

    <script src="/webjars/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>

</html>